<div *ngIf="isLoading$ | async" fxLayout="row" fxLayoutAlign="center center" class="spinner">
    <mat-progress-spinner
        *ngIf="isLoading$ | async"
        [color]="color"
        [mode]="mode">
    </mat-progress-spinner>
</div>

<ng-container *ngIf="isLoaded$ | async as isLoaded">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sideNav mode="side" [appFixedFrom]="960" fixedInViewport="true" fixedTopGap="100" class="sidenav">
            <div class="container">
                <app-filter></app-filter>
            </div>
        </mat-sidenav>        
        <mat-sidenav-content>
            <div class="container">
                <mat-toolbar class="toolbar">
                    <button mat-mini-fab color="primary" (click)="sideNav.toggle()">
                      <mat-icon>menu</mat-icon>
                    </button>
                </mat-toolbar>
                <span>{{ 'home.list.title' | translate }}:</span>
                <div *ngIf="isLoaded" class="block" fxLayout="row" fxLayoutGap="20px">
                    <ng-container *ngIf="filteredPokemonCards$ | async as filteredPokemonCards">
                        <ng-container *ngIf="filteredPokemonCards.length > 0; else noData">
                            <ng-container *ngFor="let pokemonCard of filteredPokemonCards$ | async">
                                <app-card [pokemonCard]="pokemonCard"></app-card>
                            </ng-container>
                        </ng-container>
                        <ng-template #noData>{{ 'home.list.no-data' | translate }}</ng-template>
                    </ng-container>            
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>

