/* You can add global styles to this file, and also import other style files */

:root {
  --space-to-top: 75px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-image: linear-gradient(rgba(255, 215, 64, 0.5), rgba(103, 58, 183, 0.5)),
                    url('./assets/images/pokemon-in-the-wild.png');
  background-size: cover;
  background-attachment: fixed;
}

.container {
  margin: 24px;
}

